*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #072E33;
    --header-color: #05161A;
    --text-color: #CCD0CF;
    --logo-color: snow;
    --ahover-color: rgb(4, 38, 40);
    --bg2-color: #0EAD69;
    --footer-color: #4A5C6A;
    --clock-bg: #064554;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(8px);

}

.logo{
    font-size: 25px;
    color: #fff;
    left: -50%;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Black Ops One', cursive;
}
.logo:hover{
    color: rgb(4, 38, 40);
    
}

nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    text-align: center;
    transition: .3s ease;
    font-family: 'Sometype Mono', monospace;
}

nav a:hover{
    color: var(--ahover-color);
    text-decoration: underline;
}

section{
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background:linear-gradient(75deg,#05161A,#072E33,#0C7075,#0F969C,#6DA5C0,#294D61);
    font-weight: 700;
    color: white;
    border-radius: 2px solid black; 
}
section:last-child(odd){
    background: linear-gradient(75deg,#0D112D,#12245C,#12245C,#1E427F,#2C609C,#6C94B8);
}


#home h1{
    font-size: 5rem; 
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: #05161A 1px;
}
#home h3{
    font-size: 3rem; 
    font-family: 'Shadows Into Light', cursive; 
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-text-stroke: #05161A 0.25px;

}

#motowheels{
    width: 100vw;
    height: 100vh;
}

.bike-container{
    background: white;
}

.timer{
    width: 800px;
    height: 150px;
    top: 50%;
    transform: translateY(-50%  );
    text-align: center;
}

.clock{
    width: 100%;
    height: 100%;
    background: var(--clock-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

#day::after{
    content: 'Day';
}

#hrs::after{
    content: 'Hours';
}
#min::after{
    content: 'Minutes';
}
#sec::after{
    content: 'Seconds';
}

.timer h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 64px;
    font-weight: 800;
    -webkit-text-stroke: #072E33 1px;
}

.info-content{
    font-size: 16px;
}

#form{
    width: 600px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

.form-container {
    align-items: center;
    text-align: center;
}

#form h1{
    color: black;
    text-align: center;
    font-family: 'Sometype Mono', monospace;
}

#btnDone{
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    color: white;
    align-items: center;
    background: linear-gradient(45deg,#0D112D,#12245C,#12245C,#1E427F,#2C609C,#6C94B8);
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.input-control{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 16px;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: #0EAD69;
}

.input-control.error input{
    border-color: red;
}
.input-control .error{
    color: red;
    font-size: 9px;
    height: 13px;
     
}
.form-container h2{
    font-size: 32px;
    font-weight: 700;
    color: white;
    font-family: 'Sometype Mono', monospace;
    -webkit-text-stroke: #040e0f 1px;
}


.w-120 {
    background: linear-gradient(75deg,#0D112D,#12245C,#12245C,#1E427F,#2C609C,#6C94B8);

}


.arrow-8 {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 35%;
    margin-top: 20px;
}
.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 20px solid #f6f6f6;
    border-bottom: 20px solid #ffffff;
    animation: arrow-8 3s linear infinite;
}
.arrow-8:after {
    animation: arrow-8 3s linear infinite -1.5s;
}
@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}