*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #072E33;
    --header-color: #7BE495;
    --text-color: #000000;
    --logo-color: snow;
    --ahover-color: #0F969C;
    --bg2-color: #0EAD69;
    --footer-color: #4A5C6A;
    --clock-bg: #064554;
}
body{
    color: var(--text-color);
    background:linear-gradient(#CFF4D2,#7BE495,#56C596,#329D9C,#205072);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(8px);
}

.logo{
    font-size: 25px;
    color: #193a2c;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Black Ops One', cursive;
}

nav a{
    font-size: 18px;
    color: #193a2c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s ease;
    font-family: 'Sometype Mono', monospace;
}

nav a:hover{
    color: var(--ahover-color);
    text-decoration: underline;
}
.box{
    margin-left: 35%;
    position: relative;
    width: 450px;
    height: 550px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25);
    
}
 .box h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #193a2c;
    font-size: 1.75em;
    margin-bottom: 10px;
    font-family: 'Sometype Mono', monospace;
 }


#inputBx{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
}

.box li{
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    background: linear-gradient(#ABEDD8,#46CDCF,#3D84A7,#47466D);
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 23px;
    color: white;
    font-family: 'Sometype Mono', monospace;

    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
}

.box li i {
    position: absolute;
    width: 30px;
    right: -40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #329D9C;
    border-radius: 50%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
}
.box li.done{
    background: greenyellow;
    color: black;
}
.box li.done::after{
    content: '';
    position: absolute;
    left: 17px;
    width: 12px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(315deg);
}

.box li i::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
}
.box li i::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
}

.box li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #205072;
    border-radius: 50%;
}

#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar{
    width: 5px; 
}

::-webkit-scrollbar-thumb{
    background: white;
}


