*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #072E33;
    --header-color: #90E0EF;
    --text-color: #CCD0CF;
    --logo-color: snow;
    --ahover-color: #0F969C;
    --bg2-color: #0EAD69;
    --footer-color: #4A5C6A;
    --clock-bg: #064554;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(8px);
}

.logo{
    font-size: 25px;
    color: #04041b;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Black Ops One', cursive;
}

nav a{
    font-size: 18px;
    color: #04041b;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    font-family: 'Sometype Mono', monospace;
    transition: .3s ease;
}

nav a:hover{
    color: var(--ahover-color);
    text-decoration: underline;
}

section{
    min-height: 150vh;
    display: flex;
    font-size: 100px;
    align-items: center;
    background:linear-gradient(#CAF0F8,#90E0EF,#00B4D8,#0077B6,#03045E);
    font-weight: 700;
    color: white;
    flex-direction: column;
    border-radius: 2px solid black; 
}
section:last-child(odd){
    background: linear-gradient(75deg,#0D112D,#12245C,#12245C,#1E427F,#2C609C,#6C94B8);
}

.conteiner-popular {
    display: flex;
    margin: 50px;
    width: 90%;
    height: 25rem;
    margin-top: 10%;
    background: white;
    border-radius: 8px;
    color: black;
    position: relative;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.25);
}
.conteiner-popular .bike-image{
    height: 25rem;
    position: relative;
    display: block;
    border-radius: 8px;
}
.conteiner-popular .info-panel{
    flex: 50%;
    padding: 20px;
}

.info-panel h1,h2{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Sometype Mono', monospace;
}

.info-panel p{
    font-size: 14px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: gray;
}
.info-panel h3{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Sometype Mono', monospace;
}
.info-panel ul{
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}
.info-panel li{
    margin-bottom: 10px;
}

.info-panel .zx10r{
    filter: contrast(40%);
}


.popular-container{
    height: 25rem;
    width: 90%;
    background: white;
    margin-top: 10%;
    margin: 50px;
    color: black;
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.25);

}

.popular-container .bike-image{
    height: 25rem;
    border-radius: 8px;
    width: 26%;
    position: relative;
    display: block;
}

.popular-container .info-panel{
    flex: 50%;
    padding: 20px;
}
